@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
/* 
Primary Colors
- Orange: hsl(25, 97%, 53%);

Neutral Colors
- White: hsl(0, 0%, 100%);
- Light Grey: hsl(217, 12%, 63%);
- Medium Grey: hsl(216, 12%, 54%);
- Dark Blue: hsl(213, 19%, 18%);
- Very Dark Blue: hsl(216, 12%, 8%);
*/

/* ==========
  DEFAULTS
========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* ==========
  TYPOGRAPHY
========== */
.headings {
  font-size: 2.4rem;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
}

h2.headings {
  padding: 1.5rem;
}

.font-style-general {
  font-size: 1.4rem;
  line-height: 1.5;
}

.color-light-grey {
  color: hsl(217, 12%, 63%);
}

.p-orange {
  color: hsl(25, 97%, 53%);
  background-color: hsla(216, 12%, 54%, 0.14);
  margin-top: 1rem;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
}

/* ==========
  COMPONENTS
========== */
.btn {
  border-radius: 5rem;
  border-style: none;
  padding: 1rem;
}

.btn-grey {
  background-color: hsla(216, 12%, 54%, 0.14);
}

.btn-orange {
  background-color: hsl(25, 97%, 53%);
  color: hsla(0, 0%, 100%, 0.8);
  text-transform: uppercase;
}

.btn-small {
  width: 4rem;
}

button:hover {
  cursor: pointer;
  transition: all 0.5s ease-out;
}

button.btn-grey:hover {
  background-color: hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%);
}

button.btn-orange:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

.btn-clicked {
  background-color: hsl(25, 97%, 53%);
  color: hsla(0, 0%, 100%, 0.8);
}

/* ==========
  LAYOUT
========== */

body {
  font-family: 'Overpass', sans-serif;
  background-color: hsl(216, 12%, 8%);
  height: 100vh;
}

.container {
  background-color: hsl(213, 19%, 18%);
  width: 33rem;
  height: 35rem;
  margin: auto;
  padding: 2.5rem;
  border-radius: 1.5rem;
}

.flex-column-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.align-center {
  align-items: center;
  text-align: center;
}

.hidden {
  display: none;
}

/* ==========
  ATTRIBUTION
========== */
footer {
  text-align: center;
  padding: 0.5rem;
}

.attribution p {
  font-size: 1.1rem;
  text-align: center; 
  display: inline;
  color: hsl(217, 12%, 63%);
}

.attribution a {
  color: hsl(217, 12%, 63%);
}

/* ==========
  @MEDIA QUERIES
========== */
@media screen and (min-width: 950px) {
  .container {
    width: 40rem;
    height: 40rem;
    padding: 3rem;
  }

  .font-style-general {
    font-size: 1.5rem;
  }

  .btn {
    padding: 1.5rem;
  }

  .btn-small {
    width: 5rem;
  }

  .color-orange {
    padding: 0.5rem 1.5rem;
  }
}